# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
files
files2
/day2/files/kto_201908.xlsx
/day2/files/kto_201001.xlsx
/day2/files/kto_201002.xlsx
/day2/files/kto_201003.xlsx
/day2/files/kto_201004.xlsx
/day2/files/kto_201005.xlsx
/day2/files/kto_201006.xlsx
/day2/files/kto_201007.xlsx
/day2/files/kto_201008.xlsx
/day2/files/kto_201009.xlsx
/day2/files/kto_201010.xlsx
/day2/files/kto_201011.xlsx
/day2/files/kto_201012.xlsx
/day2/files/kto_201101.xlsx
/day2/files/kto_201102.xlsx
/day2/files/kto_201103.xlsx
/day2/files/kto_201104.xlsx
/day2/files/kto_201105.xlsx
/day2/files/kto_201106.xlsx
/day2/files/kto_201107.xlsx
/day2/files/kto_201108.xlsx
/day2/files/kto_201109.xlsx
/day2/files/kto_201110.xlsx
/day2/files/kto_201111.xlsx
/day2/files/kto_201112.xlsx
/day2/files/kto_201201.xlsx
/day2/files/kto_201202.xlsx
/day2/files/kto_201203.xlsx
/day2/files/kto_201204.xlsx
/day2/files/kto_201205.xlsx
/day2/files/kto_201206.xlsx
/day2/files/kto_201207.xlsx
/day2/files/kto_201208.xlsx
/day2/files/kto_201209.xlsx
/day2/files/kto_201210.xlsx
/day2/files/kto_201211.xlsx
/day2/files/kto_201212.xlsx
/day2/files/kto_201301.xlsx
/day2/files/kto_201302.xlsx
/day2/files/kto_201303.xlsx
/day2/files/kto_201304.xlsx
/day2/files/kto_201305.xlsx
/day2/files/kto_201306.xlsx
/day2/files/kto_201307.xlsx
/day2/files/kto_201308.xlsx
/day2/files/kto_201309.xlsx
/day2/files/kto_201310.xlsx
/day2/files/kto_201311.xlsx
/day2/files/kto_201312.xlsx
/day2/files/kto_201401.xlsx
/day2/files/kto_201402.xlsx
/day2/files/kto_201403.xlsx
/day2/files/kto_201404.xlsx
/day2/files/kto_201405.xlsx
/day2/files/kto_201406.xlsx
/day2/files/kto_201407.xlsx
/day2/files/kto_201408.xlsx
/day2/files/kto_201409.xlsx
/day2/files/kto_201410.xlsx
/day2/files/kto_201411.xlsx
/day2/files/kto_201412.xlsx
/day2/files/kto_201501.xlsx
/day2/files/kto_201502.xlsx
/day2/files/kto_201503.xlsx
/day2/files/kto_201504.xlsx
/day2/files/kto_201505.xlsx
/day2/files/kto_201506.xlsx
/day2/files/kto_201507.xlsx
/day2/files/kto_201508.xlsx
/day2/files/kto_201509.xlsx
/day2/files/kto_201510.xlsx
/day2/files/kto_201511.xlsx
/day2/files/kto_201512.xlsx
/day2/files/kto_201601.xlsx
/day2/files/kto_201602.xlsx
/day2/files/kto_201603.xlsx
/day2/files/kto_201604.xlsx
/day2/files/kto_201605.xlsx
/day2/files/kto_201606.xlsx
/day2/files/kto_201607.xlsx
/day2/files/kto_201608.xlsx
/day2/files/kto_201609.xlsx
/day2/files/kto_201610.xlsx
/day2/files/kto_201611.xlsx
/day2/files/kto_201612.xlsx
/day2/files/kto_201701.xlsx
/day2/files/kto_201702.xlsx
/day2/files/kto_201703.xlsx
/day2/files/kto_201704.xlsx
/day2/files/kto_201705.xlsx
/day2/files/kto_201706.xlsx
/day2/files/kto_201707.xlsx
/day2/files/kto_201708.xlsx
/day2/files/kto_201709.xlsx
/day2/files/kto_201710.xlsx
/day2/files/kto_201711.xlsx
/day2/files/kto_201712.xlsx
/day2/files/kto_201801.xlsx
/day2/files/kto_201802.xlsx
/day2/files/kto_201803.xlsx
/day2/files/kto_201804.xlsx
/day2/files/kto_201805.xlsx
/day2/files/kto_201806.xlsx
/day2/files/kto_201807.xlsx
/day2/files/kto_201808.xlsx
/day2/files/kto_201809.xlsx
/day2/files/kto_201810.xlsx
/day2/files/kto_201811.xlsx
/day2/files/kto_201812.xlsx
/day2/files/kto_201901.xlsx
/day2/files/kto_201902.xlsx
/day2/files/kto_201903.xlsx
/day2/files/kto_201904.xlsx
/day2/files/kto_201905.xlsx
/day2/files/kto_201906.xlsx
/day2/files/kto_201907.xlsx
/day3/data
/day3/files
/day4/data
/day5/maps
/day6/files_org
/day6/files_new
/day6/files_new2
/day6/files_org
/day7/안성현.zip
/day7/files
/day7/project
/day8/data
/day8/안성현.zip
/day9/data
/day9/data2
/day9/chromedriver.exe
/day10/sample.html
/day09/data/한국공항공사_전국공항 주차장 혼잡도_OpenAPI활용가이드_v1 0.docx
/day05/maps/seoul_sgg.geojson
